<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-braintree-paypal"
    version="1.0.2">

    <name>Cordova Braintree PayPal</name>
    <description>Braintree PhoneGap Plugin for Android and iOS.</description>
    <author>Uniware Systems Ltd</author>
    <license>MIT</license>
    <keywords>Braintree PayPal</keywords>

    <hook type="after_plugin_install" src="hooks/add_embedded_ios_frameworks.js" />

    <js-module src="www/BraintreePlugin.js" name="BraintreePlugin">
        <clobbers target="braintree" />
    </js-module>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="BraintreePlugin">
                <param name="ios-package" value="BraintreePlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/BraintreePlugin.h" />
        <source-file src="src/ios/BraintreePlugin.m" />

        <framework src="lib/ios/BraintreeVenmo.framework" custom="true" />
        <framework src="lib/ios/BraintreeUI.framework" custom="true" />
        <framework src="lib/ios/BraintreePayPal.framework" custom="true" />
        <framework src="lib/ios/BraintreeDataCollector.framework" custom="true" />
        <framework src="lib/ios/BraintreeCore.framework" custom="true" />
        <framework src="lib/ios/BraintreeCard.framework" custom="true" />
        <framework src="lib/ios/BraintreeApplePay.framework" custom="true" />
        <framework src="lib/ios/Braintree3DSecure.framework" custom="true" />

    </platform>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BraintreePlugin">
                <param name="android-package" value="com.uniware.BraintreePlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/BraintreePlugin.java" target-dir="src/com/uniware" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.braintreepayments.api.BraintreePaymentActivity" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity" android:launchMode="singleTask" android:theme="@android:style/Theme.Translucent.NoTitleBar">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="com.upaychilli.upaychilli.payments.braintree" />
                </intent-filter>
            </activity>
        </config-file>

        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference" />

    </platform>
</plugin>
